/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/floating_findbar_on_top.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style makes findbar appear as floating box at the top-left of the content area.
 * If you want the findbar on right side instead then create a new pref
 * userchrome.floating-findbar-on-right.enabled and set it to true and restart Firefox
 * 
 * Note that privacy.resistFingerprinting.letterboxing prevents this from working properly
 */

/* liuzg 参考
 * 解决问题的贴子：
 * https://www.reddit.com/r/FirefoxCSS/comments/13d2eq4/move_findbar_on_top_in_firefox_113/?tl=zh-hans
 * 贴子里用的css：
 * https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/floating_findbar_on_top.css
 */

findbar {
  order: -1;
  margin-bottom: -33px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap;
}

.findbar-container>.findbar-find-fast {
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden] {
  transform: translateY(-30px);
}

findbar>.findbar-container,
findbar>.close-icon {
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background-color: var(--lwt-accent-color, var(--toolbox-bgcolor)) !important;
  background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none);
  pointer-events: auto;
}

findbar>.findbar-container {
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
  height: initial !important;
  margin-inline: 0px !important;
  overflow-inline: visible !important;
}

.findbar-find-status {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.findbar-closebutton {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  width: initial !important;
  order: -1;
}

.findbar-closebutton>image {
  padding: 3px
}

.findbar-closebutton:hover>image {
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px
}

findbar>.findbar-container>hbox {
  margin: 0 5px
}

findbar::after {
  content: "";
  display: flex;
  flex-grow: 100;
}


findbar {
  /* 
  * row 搜索框在左上角，搜索文字框在左。
  * row-reverse 搜索框在右上角，搜索文字框在左。
  */
  flex-direction: row;
}
/* 
findbar>.findbar-container {
  flex-direction: row; 
  border-inline-width: 1px 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
} */

findbar{
  margin-left: 45%;   /* 45% 或 20px */
  border-right: 1px solid var(--chrome-content-separator-color);
}
