/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: userChrome.css tweaks to remove context menu items in Firefox.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** image-context.css ***/
/*** When right-clicking on an image ***/

/* #context-reloadimage,             /* Reload Image                    */
/* #context-viewimage,               /* Open Image in New Tab           */
/* #context-saveimage,               /* Save Image As…                  */
/* #context-copyimage-contents,      /* Copy Image                      */
/* #context-copyimage,               /* Copy Image Link                 */
/* #context-sendimage,               /* Email Image…                    */
#context-sep-setbackground,       /************ Separator ************/
#context-setDesktopBackground,    /* 将图像设为桌面背景    */
/* #context-sep-sharing,             /************ Separator ************/
/* #context-inspect,                 /* Inspect (Q)                     */

#leave_this_dummy_here
    { display:none !important; }
